<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-auth0/2.0.0/angular-auth0.min.js"></script>
  </head>
  <body ng-controller="loginCtrl">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a href="/login"><button>Login</button></a> -->
  <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript">
    (function () {

    'use strict';

    angular
      .module('app')
      .run(run);

    run.$inject = ['authService'];
      
    function run(authService) {
      // Handle the authentication
      // result in the hash
      authService.handleAuthentication();
    }

  })();
  </script>
  </body>
</html>
