<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a href="/login"><button>Login</button></a> -->
    <button onclick="login()">Login</button>
    <script type="text/javascript">
	  	var webAuth = new auth0.WebAuth({
		    domain: 'skillvo.auth0.com',
		    clientID: 'acM8EanSl28NkEfLG52fxQCNUrR7v1jW',
		    responseType: 'token id_token',
		    scope: 'openid'
	  	});

	  	function login() {
		  	webAuth.popup.authorize({
			  connection: 'facebook,google'
			}, function (err, result) {
				if(err) {
					console.log("ERROR > ", err);return;
				}
				console.log("RESULT > ", result);
			});
	  	}

		function handleAuthentication() {
			webAuth.parseHash(function(err, authResult) {
			 	if (authResult && authResult.accessToken && authResult.idToken) {
				    window.location.hash = '';
				    console.log("RESULT > ", authResult);
			  	} else if (err) {
				    console.log(err);
				    alert(
				      'Error: ' + err.error + '. Check the console for further details.'
				    );
			  	}
			});
		}

	  	window.addEventListener('load', function() {
		 	handleAuthentication();
		});
	</script>
  </body>
</html>
